@media (max-width: 1439px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1280px;
        overflow: hidden;
    }
}


@media (max-width: 1279px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1024px;
        overflow: hidden;
    }



    .card_name {
        font-size: 24px;
    }

    .card_price {
        font-size: 24px;

    }
    .card_left_wrapper {
        padding-right: 20px;
        flex: 1;
    }

    .card_right_wrapper {
        padding-left: 20px;
        flex: 1;
    }
    .card_btn_left {
        max-width: 236px;
        flex-grow: 1;
    }

    .card_btn_right_wrapper {
        max-width: 226px;
        flex-grow: 1;
    }

    .card_gallery_item {
        width: 67px;
        height: 100px;
    }
    .card_gallery_btn_image {
        width: 67px;
        height: 100px;
    }

    .card_gallery_image_big {
        width: 375px;
        height: 564px;
    }

    .card_gallery_big {
        width: 375px;
        height: 564px;
    }

    .card_pag_left, .card_pag_right{
        width: 34px;
    }
}

@media (max-width: 1023px) {

    .container {
        max-width: 768px;
        overflow: hidden;
    }

    .card_content {
        flex-direction: column;
    }

    .card_content {
        display: flex;
        gap: 56px;
    }

    .card_back_btn_wrapper {
        margin-bottom: 53px;
    }

    .card_left_wrapper {
        padding-right: 0;
        padding-bottom: 0;
        border-right: none;
        border-bottom: 1.5px solid #C0B08A;
        padding-bottom: 48px;
    }
    .card_right_wrapper {
        padding-left: 0px;
        padding-top: 0;
        padding-bottom: 56px;
        border-bottom: 1.5px solid #C0B08A;
        margin-bottom: 72px;

    }
    .card_btn_left {
        max-width: 236px;
        flex-grow: 1;
    }

    .card_btn_right_wrapper {
        max-width: 226px;
        flex-grow: 1;
    }


    .card_gallery_item {
        width: 108px;
        height: 160px;
    }
    .card_gallery_btn_image {
        width: 108px;
        height: 160px;
    }

    .card_gallery_image_big {
        width: 580px;
        height: 864px;
    }

    .card_gallery_big {
        width: 580px;
        height: 864px;
    }



    .card_btn_left {
        max-width: 304px;
        flex-grow: 1;
    }

    .card_btn_right_wrapper {
        max-width: 161px;
        flex-grow: 1;
    }


}

@media (max-width: 767px){

    
    .container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 430px;
    }

    .card_name {
        margin-bottom: 8px;
    }

    .card_description {

        margin-bottom: 8px;

    }

    

    .card_back_btn_wrapper {
        margin-bottom: 47px;
    }
    .card_left_wrapper {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .card_arrow_wrapper {
        margin-right: 8px;
    }



    .card_btn_left {
        max-width: 267px;
        flex-grow: 1;
        font-size: 16px;
    }

    .card_btn_right_wrapper {
        max-width: 123px;
        flex-grow: 1;
    }



    .card_gallery_btns_list {
        gap: 8px;
    }

    .card_pag_left, .card_pag_right {
        width: 28px;
    }

    .card_gallery_wrapper {
        margin-bottom: 16px;
        gap: 10px;
    }

    .card_content {
        gap: 40px;
    }

    .card_name {
        font-size: 20px;
    }
    .card_number {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .card_price {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .card_right_wrapper {
        padding-bottom: 40px;
        margin-bottom: 56px;
    }

    .card_gallery_item {
        width: 59px;
        height: 89px;
    }
    .card_gallery_btn_image {
        width: 59px;
        height: 89px;
    }

    .card_gallery_image_big {
        width: 321px;
        height: 477px;
    }

    .card_gallery_big {
        width: 321px;
        height: 477px;
    }

    .card_description{
        font-size: 16px;
    }

}


@media (max-width: 429px){

    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 375px;
    }

    .card_btn_left {
        max-width: 238px;
        flex-grow: 1;
        font-size: 16px;
    }

    .card_btn_right_wrapper {
        max-width: 117px;
        flex-grow: 1;
    }


    .card_gallery_big {
        flex-grow: 1;
    }

    .card_gallery_item {
        width: 54px;
        height: 81px;
    }
    .card_gallery_btn_image {
        width: 54px;
        height: 81px;
    }

    .card_gallery_image_big {
        width: 291px;
        height: 437px;
    }

    .card_gallery_big {
        width: 291px;
        height: 437px;
    }

}