@media (max-width: 1439px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1280px;
        overflow: hidden;
    }
}


@media (max-width: 1279px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1024px;
        overflow: hidden;
    }

    .section_title {
        font-size: 48px;
    }

    .hero_sect {
        height: 100vh;
    }

    .about_advantages_list {
        display: flex;
        gap: 22px;
    }


    /* contacts */

    .map {
        max-width: 100%;
        height: 282px;
    }

    .contacts_subtitle {
        font-size: 24px;
    }

    .contacts_buttons_wrapper {
        gap: 40px;
    }

    .contacts_content,
    .contacts_right_img {
        width: 100%;
        height: 628px;
    }

    .contacts_adress {
        max-width: 351px;
        font-size: 19.6px;
    }


    /* about */
    .about_content {
        justify-content: center;
    }

    .about_container {
        display: flex;
        justify-content: center;
    }

    .about_small_images_wrapper {
        width: 100%;
    }

    .small_image {
        width: 100%;
        object-fit: cover;
        height: 270px;
    }

    .about_images_right_wrapper {
        width: 100%;
        height: 450px;


    }

    .about_left_title {

        font-size: 74px;

    }

    .big_img {
        height: 450px;
    }

    .small_image {
        height: 215px;
    }

    .about_content_left_wrapper {
        max-width: 472px;
    }

    .about_content_right_wrapper {
        max-width: 472px;
    }

    .about_left_image {
        height: 279px;
    }

    .about_content_left_wrapper {
        gap: 48px;

    }

    .catalog_preview_list_main_wrapper {
        max-width: 964px;

    }

    /* catalog preview */

    .catalog_preview_link {
        font-size: 24px;
    }

    .catalog_preview_сontainer {
        display: flex;
        justify-content: center;
    }

    .catalog_arrow_prev {
        width: 34px;
        transform: translateY(0px);
    }

    .catalog_preview_item,
    .catalog_preview_image {
        height: 338px;
    }

    .catalog_preview_image {
        height: 338px;
    }

    /* individual*/

    .individual_title {
        font-size: 74px;
    }

    .individual_title_gold {
        top: 109px;
        right: 290px;
        font-size: 24px;

    }

    .individual_title_white {
        font-size: 24px;

    }

    .individual_descr,
    .container_empty,
    .individual_btn_wrapper {
        flex-grow: 1;
    }

    .individual_contacts_wrapper {
        flex-wrap: wrap;
    }


    .individual_descr {
        max-width: 964px;
    }

    .individual_descr br {
        display: none;
    }

    .individual_btn_text {
        max-width: 246px;
        justify-content: center;
    }

    .individual_btn {
        display: flex;
        max-width: 226px;
        flex-grow: 1;
        justify-content: center;
    }

    /* sale */
    .sale_box_small_wrapper {
        max-width: 554px;
        height: 640px;
    }

    .sale_box_big_wrapper {
        position: relative;
        max-width: 390px;
        height: 640px;
    }

    .sale_box_small {
        height: 310px;
    }

    .sale_btn {
        font-size: 24px;
    }

    .sale_image,
    .sale_image_big {
        height: 100%;
    }

    .sale_name_arrow {
        width: 34px;
    }

    .sale_btn_arrow {
        transform: translateY(0px);
    }


    /* faq */

    .faq_title_question {
        font-size: 24px;
    }

    /* present */
    .present_title,
    .present_title_custom {
        font-size: 74px;
        margin-bottom: 20px;
    }

    .title_text_second,
    .title_text_second_custom {
        font-size: 24px;
    }

    .title_text_second {
        max-width: 261px;
    }

    .present {
        height: 518px;
        background-size: 1290px 414px;
        margin-bottom: 144px;
    }


    .present_descr_text br {
        display: none;
    }

    .present_btn_wrapper_main {
        max-width: 684px;
        flex-direction: column-reverse;

    }

    .present_content {
        position: relative;
        padding: 56px 0px 72px 0;
        max-width: 964px;
    }

    .present_container {
        display: flex;
        justify-content: center;
    }

    .present_text_btn_wrapper {
        max-width: 456px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .individual_btn_custom {
        max-width: 220px;
        flex-grow: 1;
    }




}

@media (max-width: 1023px) {

    .container {
        max-width: 768px;
        overflow: hidden;
    }

    .hero_sect {
        margin-bottom: 128px;
    }

    .about_advantages {
        background-color: #2B2B2B;
        margin-bottom: 24px;
    }

    .about_advantages_item1 {
        display: inline-block;
    }

    /* бегущая */

    .about_container {
        padding: 0;
        overflow: hidden;
    }

    .about_advantages_list {
        overflow: hidden;
    }

    .marquee-container {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .marquee {
        display: inline-block;
        animation: marquee 15s linear infinite;
        /* Анимация бегущей строки */
    }

    .marquee li {
        display: inline-block;
        padding-right: 40px;
        /* Отступ между элементами */
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
            /* Начальная позиция */
        }

        100% {
            transform: translateX(-50%);
            /* Сдвигаем на половину ширины */
        }
    }

    .about_content_left_wrapper {
        gap: 24px;
    }

    .about_container_first {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .about_content {
        display: flex;
        gap: 24px;
        flex-direction: column;
        margin-bottom: 128px;
    }

    .about_content_left_wrapper {
        max-width: 100%;
    }

    .about_content_right_wrapper {
        max-width: 100%;
    }

    .about_left_title {
        font-size: 87px;
    }

    .about_left_image {
        max-width: 100%;
        object-fit: cover;
        height: 419px;
    }

    .about_right_descr {
        max-width: 100%;
    }

    .big_img {
        max-width: 465px;
        height: 685px;
    }

    .about_images_right_wrapper {
        height: 685px;
    }

    .small_image {
        height: 332px;
    }

    .catalog_preview_item,
    .catalog_preview_image {
        height: 333px;
    }

    .catalog_preview_item_custom {
        display: none;
    }

    .catalog_preview_link_custom {
        display: flex;
    }

    .catalog_preview_list_main_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .catalog_preview_list {
        margin-bottom: 32px;
    }

    .catalog_preview {
        margin-bottom: 128px;
    }


    /* individual */

    .individual {
        margin-bottom: 128px;
    }

    .individual_title {
        font-size: 78px;
    }

    .individual_title_gold {
        top: 116px;
        right: 105px;

    }

    .individual_title_wrapper {
        max-width: 708px;
    }

    .individual_contacts_wrapper {
        justify-content: right;
    }

    .individual_btn_wrapper {
        max-width: 465px;
        flex-grow: 1;
    }

    .individual_descr {
        max-width: 100%;
    }

    .individual_btn_text {

        max-width: 304px;
        justify-content: center;
    }

    .individual_btn,
    .individual_btn_custom {
        max-width: 161px;
    }

    /* sale */

    .sale_content {
        flex-direction: column;
        align-items: normal;
    }

    .sale_box_big_wrapper,
    .sale_box_small {
        max-width: 100%;
        height: 396px;
    }

    .sale_box_small_wrapper {
        max-width: 100%;
        height: 812px;
    }

    .sale {
        margin-bottom: 128px;
    }

    .sale_image,
    .sale_image_big {
        width: 100%;
        height: 100%;

    }


    .sale_image_big {
        object-position: center -485px;
    }



    .faq_custom {
        margin-bottom: 128px;
    }

    /* present */

    .present {
        height: 700px;
        background-size: 922px 296px;
        background-position: 53% 11%;
        margin-bottom: 128px;
    }

    .present_title,
    .present_title_custom {
        font-size: 78px;
        margin-bottom: 36px;
    }

    .present_btn_wrapper_main {
        max-width: 465px;
    }

    .present_text_btn_wrapper {
        max-width: 350px;
        padding: 12px 16px;
    }

    .title_text_second {
        max-width: 223px;
    }

    .present_content {
        max-width: 708px;
    }

    .present_btn_wrapper_main {
        gap: 32px;
    }

    .title_text_second_wrapper {
        bottom: 65px;
    }

    .contacts_buttons_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .contacts_content,
    .contacts_right_img {
        width: 100%;
        height: 472px;
    }

    .contacts_content {
        margin-bottom: 20px;
    }

    .contacts_social_wrapper {
        padding-left: 0px;
    }

    .map_wrapper {
        display: none;
    }

    .map_wrapper_mobile {
        display: block;
        width: 100%;
        height: 354px;
    }

    .map_mobile {
        width: 100%;
        height: 100%;
    }

    .contacts_custom {
        margin-bottom: 128px;
    }


}




:root {
    --animation-distance: 50px;
    --animation-delay: 300ms;
}

@media (max-width: 1024px) {
    :root {
        --animation-distance: 20px;
        --animation-delay: 200ms;
    }
}


@media (max-width: 767px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 430px;
    }

    .about_container_first {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    /* header */

    .burger-menu {
        width: 30px;
        height: 22px;
    }

    .header_content {
        padding: 19px 0;
    }

    .header_logo_image {
        width: 100px;
        height: 32px;
    }

    .header_burger_wrapper {
        width: 80px;
    }

    .telegram {
        width: 32px;
        height: 32px;
    }

    .whatsapp {
        width: 32px;
        height: 32px;
    }

    .header_shiw {
        margin-bottom: 16px;
    }

    .cross {
        padding-left: 2px;
        width: 25px;
        height: 25px;
    }

    .sidebar {
        padding: 22px 20px;
        width: 277px;
    }

    .burger_list {
        gap: 24px;
    }

    .header_nav_link {
        font-size: 16px;
    }


    /* ********************************************* */

    /* footer */

    .footer_content {
        flex-direction: column;
        gap: 56px;
        padding: 56px 0 64px 0;
    }

    .first_block {
        order: 1;
    }

    .second_block {
        order: 2;
    }

    .third_block {
        order: 3;
    }

    .footer_left,
    .footer_right {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_left_top {
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 56px;
    }

    .footer_nav_link,
    .footer_link_tel {
        font-size: 16px;
    }

    .footer_year,
    .footer_left_bottom {
        font-size: 14px;


    }



    /* ********************************************* */
    .hero_sect {
        margin-bottom: 104px;
        background-image: url(../img/main_page/main_mobile.jpg);



    }

    /* ********************************************* */
    .section_title {
        font-size: 32px;
        margin-bottom: 16px;
        line-height: 120%;
    }


    /* about */
    .about_advantages_item {
        font-size: 16px;
    }

    .about_advantages_content {
        padding: 15px 0 13px 0;
    }


    .marquee li {
        padding-right: 24px;
    }

    .about_left_title {
        font-size: 50px;
    }

    .about_left_image {
        height: 220px;
    }

    .about_content {
        gap: 16px;
    }

    .about_right_descr {
        font-size: 16px;
        margin-bottom: 16px;

    }

    .big_img {
        max-width: 257px;
        height: 377px;
    }

    .small_image {
        height: 184px;
    }

    .about_images_right_wrapper {
        height: 377px;
    }

    .about_images_right_wrapper {
        gap: 10px;

    }

    .about_small_images_wrapper {
        width: 100%;
        gap: 10px;
    }

    .about_content {
        margin-bottom: 104px;
    }

    /* catalog_preview */


    .catalog_preview_custom {
        margin-bottom: 40px;
    }

    .catalog_preview_link {
        font-size: 20px;
    }

    .catalog_arrow_prev {
        width: 28px;
        transform: translateY(1px);
    }

    .catalog_preview_arrow {
        padding-left: 12px;
    }

    .catalog_preview_list_main_wrapper {
        gap: 16px;
    }

    .catalog_preview_list {
        margin-bottom: 24px;
        gap: 10px;
    }

    .dispnone {
        display: none;
    }

    .catalog_preview_item,
    .catalog_preview_image {
        height: 280px;
    }

    .catalog_preview {
        margin-bottom: 104px;
    }

    /* individual */
    .individual_title {
        font-size: 44px;
        margin-bottom: 36px;
    }

    .individual_content {
        padding: 40px 0 56px 0;
    }

    .individual_title_gold {
        top: 51px;
        right: 1px;
        font-size: 20px;
        max-width: 227px;
    }

    .individual_title_white {
        font-size: 20px;
    }

    .individual_descr {
        font-size: 16px;
    }

    .individual_text {
        font-size: 16px;
    }

    .individual_arrow {
        width: 20px;
        margin-left: 6px;
        transform: translateY(1px);
    }

    .individual_btn_tel {
        font-size: 16px;
    }

    .individual_btn_text {
        padding: 14px 40px;

    }


    /* sale */

    .sale_custom {
        margin-bottom: 40px;
    }

    .sale_box_big_wrapper,
    .sale_box_small {
        max-width: 100%;
        height: 220px;
    }

    .sale_image_big {
        object-position: center -279px;
    }

    .sale_btn_wrapper {
        padding: 12px 20px;
    }

    .sale_content {
        gap: 16px;
    }

    .sale_btn_arrow {
        margin-left: 12px;

    }

    .sale_name_arrow {
        width: 28px;
    }

    .sale_btn {
        font-size: 20px;
    }

    .sale_box_small_wrapper {
        height: 100%;
    }

    .sale {
        margin-bottom: 104px;
    }

    /* faq */

    .faq {
        margin-bottom: 40px;
    }

    .faq_custom {
        margin-bottom: 104px;
    }

    .faq_title_question {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .faq_download_link {
        font-size: 16px;
    }

    .faq_content {
        margin-bottom: 56px;
    }

    /* present */

    .present {
        height: 100%;
        background-size: 466px 150px;
        background-position: 50% 43%;
        margin-bottom: 104px;
    }

    .present_content {
        padding: 40px 0px 56px 0;
        max-width: 724px;
    }

    .present_title,
    .present_title_custom {
        font-size: 78px;
        margin-bottom: 36px;
    }

    .present_title,
    .present_title_custom {
        font-size: 44px;
        margin-bottom: 272px;
    }

    .title_text_second {
        max-width: 182px;
    }

    .title_text_second,
    .title_text_second_custom {
        font-size: 20px;
    }

    .title_text_second_wrapper {
        right: 8px;
        bottom: 280px;
    }

    .present_descr_text {
        font-size: 16px;

    }

    .present_arrow {
        margin-left: 6px;
    }

    .present_content {
        padding: 40px 0px 56px 0;
        max-width: 724px;
    }

    .present_text {
        font-size: 16px;

    }

    .present_btn_wrapper_main {
        gap: 16px;
    }

    .present_text_btn_wrapper {
        max-width: 350px;
        width: 267px;
        padding: 12px 16px;
    }

    .individual_btn,
    .individual_btn_custom {
        max-width: 123px;
        gap: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacts_content {
        flex-direction: column;
    }

    .mobile_wrapper {
        display: none;
    }

    .mobile_wrapper_active {
        display: block;
    }

    .contacts_buttons_wrapper {
        flex-direction: row;
        gap: 43px;
    }

    .contacts_link {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .contacts_text {
        font-size: 16px;

    }

    .contacts {
        margin-bottom: 40px;
    }

    .contacts_tel_mail_wrapper {
        gap: 16px;
        max-width: 175px;
        flex-grow: 1;
    }

    .insta {
        width: 32px;
        height: 32px;
    }

    .social_warning {
        font-size: 12px;
    }

    .contacts_social_wrapper {
        gap: 7px;
    }

    .contacts_buttons_wrapper {
        margin-bottom: 4px;
    }

    .contacts_content,
    .contacts_right_img {
        width: 100%;
        height: 100%;
    }

    .contacts_custom {
        height: 100%;
        margin-bottom: 104px;
    }

    .map_mobile {
        height: 520px;
    }

    .map_wrapper_mobile {
        display: block;
        width: 100%;
        height: 100%;
    }

    .contacts_subtitle {
        font-size: 20px;
    }

    .contacts_social_buttons_wrapper {
        gap: 16px;
    }

    .contacts_content {
        gap: 24px;
        margin-bottom: 40px;
    }

    .contacts_adress {
        font-size: 16px;
    }

}

@media (max-width: 429px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 375px;
        overflow: hidden;
    }

    .about_container_first {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .about_left_title {
        font-size: 48px;
    }

    .about_left_image {
        height: 201px;
    }

    .big_img {
        max-width: 233px;
        height: 341px;
    }

    .small_image {
        height: 166px;
    }

    .about_images_right_wrapper {
        height: 341px;
    }

    .catalog_preview_item,
    .catalog_preview_image {
        height: 255px;
    }

    .individual_title {
        font-size: 40px;
        line-height: 52px;
    }

    .individual_title_gold {
        top: 48px;
        right: -19px;
    }

    .present_title,
    .present_title_custom {
        font-size: 40px;
        margin-bottom: 272px;
    }

    .present_text_btn_wrapper {
        max-width: 350px;
        width: 238px;
        padding: 14px 9px;
    }

    .individual_btn, .individual_btn_custom {
        max-width: 117px;
    }

    .present_arrow {
        margin-left: 5px;
    }

    .individual_btn_text {
        padding: 14px 40px;
    }

    .present {
        background-size: 442px 142px;
        background-position: 50% 43%;
        margin-bottom: 104px;
    }

    .contacts_buttons_wrapper {
        flex-direction: column;
        gap: 24px;
    }

}