@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
    url('../fonts/FiraSans-Italic.woff') format('woff'),
    url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'), local('FiraSansMedium-Italic'),
    url('../fonts/FiraSansMedium-Italic.woff') format('woff'),
    url('../fonts/FiraSansMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'), local('FiraSansLight'),
    url('../fonts/FiraSansLight.woff') format('woff'),
    url('../fonts/FiraSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), local('FiraSans'),
    url('../fonts/FiraSans.woff') format('woff'),
    url('../fonts/FiraSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'), local('FiraSansMedium'),
    url('../fonts/FiraSansMedium.woff') format('woff'),
    url('../fonts/FiraSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'), local('FiraSansLight-Italic'),
    url('../fonts/FiraSansLight-Italic.woff') format('woff'),
    url('../fonts/FiraSansLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap; /* Добавлено */
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
    url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
    url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap; /* Добавлено */
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

img {
  max-width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Затемнение */
  backdrop-filter: blur(5px);
  /* Размытие */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9;
  /* Ниже меню, но выше контента */
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

body {
  font-family: "Fira Sans";
  background-color: #F8F8F8;
}

/* glob */



.list--reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  border-color: transparent;
  cursor: pointer;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 130px;
  padding-left: 130px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  left: -9999px;
}


/* Hover focus active */

.burger-menu:hover .bar {
  background-color: #C0B08A;
}

.cross path:hover {
  fill: #C0B08A;
}

.burger-menu.active .bar {
  background-color: #C0B08A;
}

.telegram path:hover {
  fill: #C0B08A;
}

.whatsapp path:hover {
  fill: #C0B08A;
}


.catalog_btn_mobile:hover {
  color: #C0B08A;
}

.header_nav_link:hover {
  color: #C0B08A;
}

.individual_btn_tel:hover {
  color: #C0B08A;
}

.faq_download_link:hover {
  color: #C0B08A;
}

.footer_nav_link:hover {
  color: #C0B08A;
}

.footer_link_tel:hover {
  color: #C0B08A;
}

.footer_contract:hover {
  color: #C0B08A;
}

.footer_left_bottom_link:hover {
  color: #C0B08A;

}

.card_btn_back:hover {
  color: #C0B08A;
}

.card_btn_back:hover .card_arrow path {
  fill: #C0B08A;
}

.card_gallery_pagination_link:hover .card_pag_left path,
.card_gallery_pagination_link:hover .card_pag_right path {
  fill: #C0B08A;
}

/* header */

.header_shiw {
  margin-bottom: 24px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.header_socials_wrapper {
  display: flex;
  gap: 16px;
}

.social_link {
  height: 34px;
}

.telegram path {
  transition: fill .3s ease-in-out;
}

.whatsapp path {
  transition: fill .3s ease-in-out;
}



.header_shiw {
  border-bottom: 1.5px solid #C0B08A;
}

.catalog_preview_link:hover {
  color: #C0B08A;
}

.catalog_preview_link:hover .catalog_preview_arrow svg path {
  fill: #C0B08A;
}

.sale_btn:hover {
  color: #C0B08A;
}

.sale_btn:hover .sale_btn_arrow svg path {
  fill: #C0B08A;
}

.insta:hover path {
  fill: #C0B08A;
}

.contacts_link:hover {
  color: #C0B08A;
}

.catalog_sub_link:hover {
  color: #D6C49A;
}

/* burger */

.burger-menu {
  cursor: pointer;
  width: 34px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.bar {
  width: 100%;
  height: 1.5px;
  background: #2B2B2B;
  transition: all 0.3s ease;
}

.burger_closed {
  cursor: pointer;
  width: 34px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar_closed {
  width: 100%;
  height: 1.5px;
  background: #2B2B2B;
}

.burger_close_btn_wrapper {
  margin-bottom: 55px;
}

.cross path {
  transition: fill .3s ease-in-out;
}


/* Стили для бокового меню */
.sidebar {
  position: fixed;
  top: 0;
  z-index: 10;
  left: -100%;
  width: 510px;
  height: 100%;
  background: #F8F8F8;
  transition: left 0.3s ease;
  padding: 29px 125px 0px 130px;

}

.sidebar.active {
  left: 0;
}

.burger_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header_nav_link {
  color: #3A3939;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

/* ************* */

.hero_sect {
  background-image: url(../img/main_page/hero_main.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  width: 100%;
  margin-bottom: 144px;
}


/* about_advantages */

.about_advantages {
  background-color: #2B2B2B;
  margin-bottom: 56px;

}

.about_advantages_list {
  display: flex;
  gap: 94px;
}

.contacts_text {
  padding-right: 3px;
}

.about_advantages_content {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about_advantages_item1 {
  display: none;
}

.about_advantages_item {
  color: #D6C49A;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
}

/* about */
.section_title {
  margin: 0;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  /* 125% */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about_content {
  display: flex;
  gap: 20px;
  margin-bottom: 144px;
}

.about_content_left_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  max-width: 580px;
}

.about_left_title {
  margin: 0;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 92px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  max-width: 580px;
}

.about_left_image {
  max-width: 580px;
  object-fit: cover;
  height: 342px;
}

.about_right_descr {
  margin: 0;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
  max-width: 580px;
  text-align: left;
}

.about_images_right_wrapper {
  display: flex;
  gap: 20px;
  height: 560px;

}

.small_image {
  object-fit: cover;
  height: 270px;
}

.big_img {
  max-width: 380px;
  object-fit: cover;
}

.about_small_images_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* catalog_preview */

.catalog_preview_custom {
  border-bottom: 1.5px solid #C0B08A;
  margin-bottom: 56px;

}

.catalog_preview_list {
  display: flex;
  gap: 20px;
}

.catalog_preview_item {
  max-width: 280px;
  height: 420px;
  flex: 1;

}

.catalog_preview_image {
  object-fit: cover;
}

.catalog_preview_link {
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.catalog_preview_item_custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.catalog_arrow_prev {
  width: 40px;
  transform: translateY(-2px);
}

.catalog_preview_arrow {
  padding-left: 16px;
}

.catalog_preview_list_main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.catalog_preview {
  margin-bottom: 144px;
}

.catalog_preview_link .catalog_preview_arrow svg path {
  transition: fill 0.3s ease;
}


/* individual */

.individual {
  background-color: #2B2B2B;
  margin-bottom: 144px;
}

.individual_title {
  margin: 0;
  max-width: 880px;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 92px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.individual_content {
  padding: 56px 0 72px 0;
}

.individual_title_wrapper {
  position: relative;
  max-width: 880px;

}

.individual_title_gold {
  position: absolute;
  top: 128px;
  right: 134px;
  color: #C0B08A;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.individual_title_white {
  color: #F8F8F8;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.individual_contacts_wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.individual_descr {
  margin: 0;
  max-width: 380px;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.individual_btn_wrapper {
  display: flex;
}

.individual_btn_text {
  display: flex;
  flex-grow: 1;
  outline: 1px solid #F8F8F8;
  padding: 12px 40px;
  max-width: 220px;

}

.individual_text {
  display: flex;
  align-items: center;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.individual_arrow {
  margin-left: 10px;
}

.individual_btn {
  outline: 1px solid #F8F8F8;
  padding: 12px 21px;
  background-color: #F8F8F8;
  max-width: 160px;
}

.individual_btn_custom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  outline: 1px solid #F8F8F8;
  padding: 7px 36px;
  background-color: #F8F8F8;
  max-width: 160px;
}

.individual_btn_tel {
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: .3s ease-in-out;
}

.container_empty {
  display: none;
}


/* sale */

.sale_custom {
  border-bottom: 1.5px solid #C0B08A;
  margin-bottom: 56px;
}

.sale {
  margin-bottom: 144px;
}

.sale_content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.sale_image {
  object-fit: cover;
}

.sale_box_big_wrapper {
  position: relative;
  max-width: 480px;
  height: 780px;
}

.sale_box_small_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 680px;

}

.sale_image_big {
  object-fit: cover;
}

.sale_btn {
  display: flex;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.sale_btn_wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 21px 40px;
  background: rgba(43, 43, 43, 0.70);

}

.sale_btn_arrow {
  display: block;
  transform: translateY(-2px);
  margin-left: 16px;
}

.sale_box_small {
  position: relative;
  height: 380px;
}

.sale_btn {
  transition: .3s ease-in-out;
}


.sale_btn_arrow svg path {
  transition: fill 0.3s ease;
}

/* FAQ */

.faq {
  border-bottom: 1.5px solid #C0B08A;
  margin-bottom: 56px;
}

.faq_custom {
  margin-bottom: 144px;
  border-bottom: 1.5px solid #C0B08A;
}

.faq_content {
  margin-bottom: 72px;
}

.faq_title_question {
  margin: 0;
  margin-bottom: 24px;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.faq_download_link {
  color: #3A3939;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.faq_download_link {
  transition: .3s ease-in-out;
}


/* present */

.present {
  height: 595px;
  background-color: #2B2B2B;
  background-image: url(../img/main_page/present.webp);
  background-repeat: no-repeat;
  background-size: 1634px 524px;
  background-position: center;
  margin-bottom: 144px;

}

.present_content {
  position: relative;
  padding: 56px 0px 72px 0;
}

.present_title {
  margin: 0;
  margin-bottom: 85px;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 92px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.present_title_custom {
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 92px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

}


.present_btn_wrapper_main {
  max-width: 773px;
  display: flex;
  justify-content: right;
  gap: 24px;
  flex-direction: column;

}

.present_btn_wrapper {
  display: flex;
  justify-content: flex-end;
}

.present_text_btn_wrapper {
  max-width: 320px;
  padding: 12px 23px;
  outline: 1px solid #F8F8F8;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;

}

.present_text {
  display: flex;
  align-items: center;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.present_arrow {
  margin-left: 10px;
}

.present_descr_text {
  margin: 0;
  max-width: 773px;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.title_text_second {
  margin: 0;
  max-width: 380px;
  color: #C0B08A;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.title_text_second_custom {
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.title_text_second_wrapper {
  position: absolute;
  bottom: 69px;
  right: 0;
}



/* contacts */

.contacts {
  border-bottom: 1.5px solid #C0B08A;
  margin-bottom: 56px;
}

.contacts_custom {
  margin-bottom: 144px;
}

.contacts_subtitle {
  margin: 0;
  margin-bottom: 24px;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.contacts_tel_mail_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts_text {
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contacts_link {
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contacts_social_wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.contacts_social_buttons_wrapper {
  display: flex;
  gap: 20px;

}

.contacts_buttons_wrapper {
  max-width: 580px;
  display: flex;
  gap: 81px;
  margin-bottom: 56px;
}

.social_warning {
  margin: 0;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.marker {
  display: block;
  transform: translate(30px, -43px);
}


.insta path {
  transition: fill .3s ease-in-out;
}

.contacts_link {
  transition: .3s ease-in-out;
}

.contacts_adress {
  margin: 0;
  color: #2B2B2B;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.first {
  margin-bottom: 16px;
}

.second {
  margin-bottom: 24px;
}

.contacts_content {
  display: flex;
  gap: 20px;

}

.contacts_left_wrapper {
  flex: 1;
}

.contacts_right_wrapper {
  flex: 1;
}

.contacts_right_img {
  object-fit: cover;
  width: 100%;
  height: 772px;

}

.mobile_wrapper_active {
  display: none;
}

.contacts_left_wrapper,
.contacts_right_wrapper {
  flex: 1;
  min-width: 0;
  /* Это предотвращает расширение контейнера при переполнении */
}


/* #myMap{
  width: 580px;
  height: 435px;
} */



.map {
  max-width: 100%;
  height: 430px;
}

.map_wrapper_mobile {
  display: none;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


/* footer */

.footer {
  background-color: #2B2B2B;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 56px 0;
}

.footer_contract {
  margin: 0;
  transition: .3s ease-in-out;
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}


.footer_year,
.footer_left_bottom {
  margin: 0;
  color: #7B7B7B;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_left_top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_nav_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer_nav_link {
  color: #F8F8F8;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

.footer_link_tel {
  color: #F8F8F8;

  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: .3s ease-in-out;
}

.footer_social_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer_right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_left_bottom_link {
  transition: .3s ease-in-out;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

/* анимация прокрутки */


.about_advantages_item1 {
  display: none;
}


.header_burger_wrapper {
  width: 88px;
}

.footer_right {
  padding-left: 48px;
}

.catalog_preview_link_custom {
  display: none;
}